[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/robocorp-code.desktop]
row=0
col=4

[/home/user/Desktop/chromium-browser.desktop]
row=0
col=1

[/home/user/Desktop/mockoon.desktop]
row=0
col=5

[/home/user/Desktop/vault.desktop]
row=1
col=9

[/home/user/Desktop/feel.desktop]
row=0
col=8

[/home/user/Desktop/zeebe-monitor.desktop]
row=1
col=4

[/home/user/Desktop/mailhog.desktop]
row=1
col=7

[/home/user/Desktop/zeebe-play.desktop]
row=1
col=3

[/home/user/Desktop/dmn-simulator.desktop]
row=0
col=7

[/home/user/Desktop/camunda-modeler.desktop]
row=0
col=3

[/home/user/Desktop/xfce4-session-logout.desktop]
row=2
col=1

[/home/user/Desktop/Public]
row=3
col=1

[/home/user/Desktop/docs.desktop]
row=2
col=3

[/home/user/Desktop/keyboard.desktop]
row=1
col=1

[/home/user/Desktop/rcc.desktop]
row=1
col=5

[/home/user/Desktop/minio.desktop]
row=1
col=8

[/home/user/Desktop/Robots]
row=3
col=0

[/home/user]
row=2
col=0

[/]
row=1
col=0

[Trash]
row=0
col=0

