figcaption { margin-top: 2ex; }
.clear-both { clear: both; }
.djs-container > svg { min-height: 400px; max-height: 60vh; }
.bts-toggle-mode { display: none; }
button.fa-play, button.fa-stop { margin: 0 0.5ex 0 0.5ex; padding: 0 0.5ex 0 0.5ex; border: none; background: none; }
